html,body{
  height: 100%;
  width: 100%;
}
#joke{
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 20px;
  background: rgb(219, 216, 216);
}